.formbody{
    font-size: medium;
    color:black;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.formin{
    width: 30%;
    box-shadow: 3cap;

}
.nextbt{
    margin-top: 10px;
    text-decoration: none;
}